.poppins-font{
    font-family: 'Poppins';
}

.text-center{
    text-align: center;
    width: 100%;
}

.two-cols{
    grid-template-columns: 50% 50%;
}

.container-1{
    background-color: rgba(0, 0, 0, 0.356);
}

.container-2{
    background-color: white;
    padding: 20px 20px;
}
 
.container{
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
}

.flex{
    display: flex;
    align-items: center;
}

.header-container{
    justify-content: space-between;
}

.four-cols{
    grid-template-columns: 50% 10% 20% 20%;
}


.grid{
    display: grid;
}


.items-container{
    margin-top: 20px;
}


.item{
    margin-left:10px ;
}

.item, .quantity, .unit-price, .sub-total{
    font-weight: 500;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.69);
}

.close{
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgb(189, 189, 189);
    font-weight: 700;
    padding: 10px;
    border-radius: 50%;
}

.btn-container{
    justify-content: center;
}

.checkout-btn{
    border: none;
    background-color: #00302E;
    font-size: 13px;
    font-weight: 600;
    color: #F3C294;
    padding: 15px 150px;
}