.poppins-font{
    font-family: 'Poppins';
}

.text-center{
    text-align: center;
    width: 100%;
}
 
.container{
    max-width: 50%;
    margin: 0 auto;
    height: 100vh;
    padding: 60px 40px;
}

.flex{
    display: flex;
    align-items: center;
}

.four-cols{
    grid-template-columns: 50% 10% 20% 20%;
}


.grid{
    display: grid;
}


.items-container{
    margin-top: 20px;
}


.item{
    margin-left:10px ;
}

.item, .quantity, .unit-price, .sub-total{
    font-weight: 500;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.69);
}

