<div class="container poppins-font grid two-cols">
  <div class="container-1"></div>
  <div class="container-2">
  <div class="header-container flex"><span>Cart</span><button class="close" (click)="closeCart()"> X </button></div>
  <div class="items-container">
    <div class="fields grid four-cols">
      <div class="item">Item</div>
      <div class="text-center quantity">Qty</div>
      <div class="text-center unit-price">Unit Price</div>
      <div class="text-center sub-total">Sub-total</div>
    </div>
    <app-cart-detail></app-cart-detail>
  </div>
</div>
</div>
