<div class="container">
    <div class="header">
        <img src="../../assets/images/Logo.svg" alt="logo">
    </div>
    <div class="nav-options poppins-font">
        <a><img src="../../assets/images/home-light.svg" alt="home"> <span>Dashboard</span></a>
        <a><img src="../../assets/images/profile-light.svg" alt="profile"><span> Your Profile</span></a>
        <a (click)="ordersDisplay()"><img src="../../assets/images/orders-light.svg" alt="orders"> <span>Orders</span><span class="orderSize">0</span></a>
        <a (click)="cartDisplay()"><img src="../../assets/images/cart-light.svg" alt="cart"><span> Your Cart</span> <span class="cartSize">{{cartSize}}</span></a>
        <a (click)="logout()"><img src="../../assets/images/logout.png" class="logout" alt="logout"> <span>Log Out</span></a>
    </div>
</div>