<div class="container">
    <div class="header">
        <img src="../../assets/images/Logo.svg" alt="logo">
    </div>
    <div class="nav-options poppins-font">
        <a href="#"><img src="../../assets/images/home-light.svg" alt="home"> <span>Dashboard</span></a>
        <a href="#"><img src="../../assets/images/profile-light.svg" alt="profile"><span> Your Profile</span></a>
        <a href="#"><img src="../../assets/images/orders-light.svg" alt="orders"> <span>Orders</span></a>
        <a href="#"><img src="../../assets/images/cart-light.svg" alt="cart"><span> Your Cart</span></a>
    </div>
</div>