<div class="container">
    <div class="image-container">
    </div>
    <div class="form-container">
        <div class="form">
            <div class="header poppins-font">Welcome To Lillies!</div>
            <div class="inputs">
                <input type="text" name="" id="" placeholder="Your First Name" [(ngModel)]="name">
                <input type="text" name="" id="" placeholder="Your Email Address" [(ngModel)]="email">
                <input type="password" name="" id="" placeholder="Your Password" [(ngModel)]="password">
                <button class="rubik-font" (click)="signUp()"><div>SIGNUP</div></button>
                <div class="signup poppins-font">
                    <a routerLink="/login">Already have an account</a>
                </div>
            </div>
        </div>
    </div>
</div>