<div class="items grid four-cols">
    <div class="flex dish-image">
      <span><img src="{{dish.dish.imagePath}}" alt="dish" /></span
      ><div class="dish-name">{{dish.dish.name}}</div>
    </div>
    <div class="flex dish-quantity text-center">
      <div class="text-center">{{dish.quantity}}</div>
    </div>
    <div class="flex dish-price text-center">
      <div class="text-center"
        >{{dish.dish.price}}</div>
    </div>
    <div class="flex dish-total">
      <div class="text-center"
        >{{dish.dish.price * dish.quantity}}</div>
    </div>
  </div>