<div class="items grid four-cols">
    <div class="flex dish-image">
      <span><img src="../../assets/images/dish-1.svg" alt="dish" /></span
      ><div class="dish-name">Burger</div>
    </div>
    <div class="flex dish-quantity text-center">
      <div class="text-center">5</div>
    </div>
    <div class="flex dish-price text-center">
      <div class="text-center"
        >5000</div
      >
    </div>
    <div class="flex dish-total">
      <div class="text-center"
        >10000</div
      >
    </div>
  </div>