<div class="container">
    <div class="header-container poppins-font">
        <div class="greetings-container">
            <div class="username-container">
                Good morning, {{userName}}!
            </div>
            <div class="short-message-container">
                What delicious meal are you craving today?
            </div>
        </div>
        <img src="../../assets/images/user.svg" alt="">
    </div>
    <div class="items-container">
        <app-item *ngFor="let dish of dishes" [dish]="dish" ></app-item>
    </div>
</div>
