.poppins-font{
    font-family: 'Poppins';
}

.main-container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    position: absolute;
    top:0;
    right: 0;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    position: relative;
}

.container-1{
    background-color: rgba(0, 0, 0, 0.356);
}

.dish-name{
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    font-weight: 600;
}

.price, .time, .quantity{
    width: 33%;
    text-align: center;
}

.dish-description{
    text-align: center;
    margin-top: 30px;
    font-size: 11px;
    font-weight: 400;
    color: #000;
}


.dish-other-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.quantity-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-top: 30px;
}

button{
    border: none;
    background:none;
    font-weight: 600;
    cursor: pointer;
}

.increment{
    background-color: #F3C294;
    color: #00302E;
    font-size: 31px;
    padding: 4px 11px;
}

.decrement{
    background-color: #F3C294;
    color: #00302E;
    font-size: 31px;
    padding: 4px 15px;
}

.selected-quantity{
    font-weight: 600;
    font-size: 27px;
    color: #00302E;
    margin: 0 5px;
    width: 40px;
    text-align: center;
}

.add-to-cart{
    font-weight: 600;
    font-size: 13px;
    background-color: #00302E;
    color: white;
    padding: 14px ;
}

.close{
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgb(189, 189, 189);
    font-weight: 700;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 20px;
}